// Base Blocks
.block {
  padding-bottom: 0px;
  color: #777;
}

.block--no-bottom-border {
  border-bottom: 0;
}

.block--top-border {
  border-top: 1px solid #d1d1d1;
}

.block--full-width {
  width: auto;
}

.block--bottom-padding {
  padding-bottom: 60px;
}

.block__title {
  font-size: 1.25em;
  color: #000;
  text-align: center;
}

.with-block-top-margin {
  margin-top: 50px;
}

.block--comments {
  background-color: #fff;
}

// Generic elements

.block__image {
  width: 100%;
  height: auto!important;
}

.block__video {
  
}