.gallery-content {
  position: relative;
  overflow: hidden;
}

.gallery-content__inner {
  position: relative;
  overflow: hidden;
  @include transition (left 0.4s ease-in-out);
}

.gallery__item {
  @extend .block__image;
  margin: 0 5px;
  float: left;
}

