.questions__breakout {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
  margin: 0;
  color: #000;
  line-height: 1.1;
  font-size: 2.5em;
  padding: 50px 5%;

  @media screen and (max-width: 480px) {
    font-size: 1.8em;
  }
}

.questions__content {
  padding: 0 50px 30px 20px;
  text-align: left;

  @media screen and (max-width: 760px) {
    padding-right: 0;
  }
}

.questions__content .l-column--span-six {
  width: 46%;

  @media screen and (max-width: 760px) {
    width: auto;
    float: none;
  }
}

.questions__content--first-col {
  margin-right: 8%;
}

.questions__content h2 {
  @extend .block__title;
  margin-top: 30px;
  text-align: left;
}