<header class="l-site-header">
  <h1 class="site-logo">
    <%= link_to "Can We", "/" %>
  </h1>

  <p class="site-intro"></p>

  <nav class="header__social">
    <ul class="header__social-list">
      <li class="header__social-item">
        <a href="#"></a>
      </li>
    </ul>
  </nav>
</header>