<ul class="inline-list social-list">
  <li class="social-list__item">
    <a href="#" class="social-icon" data-icon="">
      <span class="visuallyhidden">Instagram</span>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-icon" data-icon="">
      <span class="visuallyhidden">Twitter</a>
    </a>
  </li>
  <li class="social-list__item">  
    <a href="#" class="social-icon" data-icon="">
      <span class="visuallyhidden">Vimeo</span>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-icon" data-icon="">
      <span class="visuallyhidden">Facebook</span>
    </a>
  </li>
</ul>