---
title: Brew the perfect coffee | Can We
---

<article class="article">
  
  <header class="article__header">
    <h1 class="article__title">Brew the perfect coffee</h1>
  
    <p class="article__intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu.</p>

    <div class="article__sharing">

    </div>

    <div class="article__intro-video block__video">
      <!-- Vimeo video -->
    </div>

  </header>

  <section class="block block--video block--no-bottom-border">
    
    <h2 class="block__title">Step by step guide</h2>

    <div class="block__video">
      <!-- Vimeo video -->
    </div>

  </section>

  <section class="block block--questions">

    <header class="block__header questions__intro text__content">

      <h2>Firstname Surname <span>Jobtitle, 2013</span></h2>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu.</p>
    
    </header>

    <img src="" class="block__image questions__intro-image">

    <div class="questions__content l-columns">

      <div class="l-column--span-six">
        <!-- Content -->
      </div>


      <div class="l-column--span-six">
        <!-- Content -->
      </div>

    </div>

    <blockquote class="questions__breakout">
      "This is a quote"
    </blockquote>

    <div class="questions__content l-columns">

      <div class="l-column--span-six">
        <!-- Content -->
      </div>


      <div class="l-column--span-six">
        <!-- Content -->
      </div>

    </div>

  </section>

  <section class="block block--equipment">
    
    <h2 class="block-title">The equipment</h2>

    <div class="equipment-used l-columns">

      <div class="equipment l-column--span-six">
        <img src="" class="equipment__image">

        <div class="equipment__content">
          <h3 class="equipment__title">Equipment title</h3>

          <p class="equipment__info">
            Price £19.99.<br>
            Retailer <a href="#" class="equipment__purchase-link">Buy here</a>
          </p>
        </div>

      </div>

    </div>

  </section>

  <section class="block block--gallery block--full-width">

    <div class="gallery-content">
      
      <img src="" class="gallery__item">
      <img src="" class="gallery__item">
      <img src="" class="gallery__item">
      <img src="" class="gallery__item">

    </div>

  </section>

  <section class="block block--text">
    <h2 class="block__title">Thanks to</h2>

    <div class="text__content">
      <h3>Person / Business</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed blandit massa. Fusce facilisis suscipit risus, id scelerisque sapien luctus ac. Praesent placerat magna at elit eleifend viverra class aptent taciti sociosqu.</p>
    </div>

  </section>

</article>