---
title: 
---
  
  <section class="issues l-columns l-site-width">

    <article class="issue issue--april l-column l-column--span-three">
      <div class="issue__inner">
        <a href="/2013/04/brew-the-perfect-coffee.html" class="issue__link">
          <%= image_tag 'coffee.jpg', class: 'issue__image' %>

          <header class="issue__desc">
            <h2 class="issue__title">Brew the perfect coffee</h2>
            <span class="issue__number">Issue 01</span>
          </header>
        </a>
      </div>
    </article>
    <% issue_no = 1 %>
    <% %w(May June July August September October November December).each do |month| %>
      <article class="issue issue--future l-column l-column--span-three">
        <div class="issue__inner">
          <header class="issue__desc issue__desc--future">
            <h2 class="issue__title">Coming <%= month %></h2>
            <span class="issue__number">Issue <%= issue_no.to_s.rjust(2, '0') %></span>
          </header>
        </div>
      </article>
      <% issue_no += 1 %>
    <% end %>

  </section>