---
title: 
---
  
  <section class="issues l-columns l-site-width">

    <article class="issue issue--april l-column l-column--span-three">
      
      <div class="issue__inner">

        <%= image_tag 'coffee.jpg', class: 'issue__image' %>

        <header class="issue__desc">
          <h2 class="issue__title">Brew the perfect coffee</h2>
          <span class="issue__number">Issue 01</span>
        </header>

      </div>
        
    </article>

    <article class="issue issue--april l-column l-column--span-three">
      
      <div class="issue__inner">

        <%= image_tag 'coffee.jpg', class: 'issue__image' %>

        <header class="issue__desc">
          <h2 class="issue__title">Brew the perfect coffee</h2>
          <span class="issue__number">Issue 01</span>
        </header>

      </div>
        
    </article>

  </section>