.article__header,
.block {
  @extend .l-site-width;
  padding: 60px 0;
  border-bottom: 1px solid #d1d1d1;
}

.article__header {
  padding-top: 40px;
}

.article__title {
  @extend .extra-large-title;
  text-align: center;
  line-height: 0.875;
  margin: 0 20%;
}

.article__intro {
  margin-top: 50px;
  color: #777;
}