// Header

.l-site-header {
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  padding: 20px 0;
}

.site-logo {
  font-style: italic;
  color: #000;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 6.25em;
}

