// Header

.l-site-header {
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  padding: 20px 0;
}

.header-inner {
  text-align: center;
  margin: 0pt auto;
  width: 490px;

  @media screen and (max-width:490px) {
    width: auto;
    margin: 0pt 20px;
  }
}

.site-logo {
  @extend .extra-large-title;
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }
}

.site-intro {
  margin: 0pt auto;
}