.issues {
  margin-top: 10px;
  margin-bottom: 50px;
}

.issue {
  @media screen and (max-width: 1000px) {
    width: 33.333333333333336%
  }

  @media screen and (max-width: 760px) {
    width: 50%;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.issue__image {
  width: 100%;
  height: auto;
}

.issue__inner {
  position: relative;
}

.issue__desc {
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0; 
  padding: 20px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  @include transition(all 0.2s);

  @media screen and (max-width: 480px) {
    opacity: 1;     
  }
}

.issue__link {
  display: block;
  color: #fff;
}

.issue__link:hover .issue__desc {
  opacity: 1;
}

.issue__number {
  position: absolute;
  bottom: 20px;
  font-size: 1.125em;
}

.issue__title {
  font-family: 'arno_proitalic', 'Georgia', serif;
  font-size: 1.875em;

  @media screen and (max-width: 480px) {
    font-size: 2.5em; 
  }
}

/* Future Issue */

.issue--future .issue__inner {
  padding-top: 126.49%;
}

.issue__desc--future {
  background-color: #fff;
  color: #777;
  opacity: 1;
}